Repository RobertGardner/lfz-final-project: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, prettier --write, stylelint --fix --allow-empty-input, eslint --fix

Fix image paths
  client/src/lib/api.ts
Due: prettier --write, eslint --fix

log
  client/src/lib/api.ts
Due: prettier --write, eslint --fix

Updates
  client/.gitignore
  client/dist/assets/index-16c2ad13.css
  client/dist/assets/index-d87105a1.js
  client/dist/hylian-emblem.svg
  client/dist/images/ostrich-pillow.jpg
  client/dist/images/shake-weight.jpg
  client/dist/images/shamwow.jpg
  client/dist/images/snuggie.jpg
  client/dist/images/tater-mitts.jpg
  client/dist/images/wax-vac.jpg
  client/dist/index.html
  client/dist/vite.svg
  client/package-lock.json
  client/src/lib/api.ts
  package-lock.json
  server/server.ts
Due: markuplint, prettier --write, stylelint --fix --allow-empty-input, eslint --fix

test
  server/server.ts
Due: prettier --write, eslint --fix

another test
  server/server.ts
Due: prettier --write, eslint --fix

Add GH Action to deploy to EB
  .github/workflows/main.yml
Due: none

Yet another test
  client/src/lib/api.ts
Due: prettier --write, eslint --fix

Allow manual dispatch
  .github/workflows/main.yml
Due: none

another test
  client/src/lib/api.ts
Due: prettier --write, eslint --fix

Fix comment
  .github/workflows/main.yml
Due: none

Fix secrets
  .github/workflows/main.yml
Due: none

Add region
  .github/workflows/main.yml
Due: none

Fix syntax error
  .github/workflows/main.yml
Due: none

Another syntax error
  .github/workflows/main.yml
Due: none

More fixes
  .github/workflows/main.yml
Due: none

Fix references
  .github/workflows/main.yml
  package.json
Due: prettier --write

Fix prod install
  .github/workflows/main.yml
  package.json
Due: prettier --write

Make install work on prod
  .github/workflows/main.yml
  package.json
Due: prettier --write

Revert mistake
  package-lock.json
  package.json
Due: prettier --write

Yet another goof
  package-lock.json
  package.json
Due: prettier --write

Some EB config
  .github/workflows/main.yml
  .platform/hooks/predeploy/database.sh
  Procfile
  server/server.ts
Due: prettier --write, eslint --fix

Don't copy .env.example in deploy
  .github/workflows/main.yml
  server/lib/error-middleware.ts
Due: prettier --write, eslint --fix

print diagnostics
  .platform/hooks/predeploy/database.sh
Due: none

diagnostics
  server/server.ts
Due: prettier --write, eslint --fix

Fix env variables
  .github/workflows/main.yml
  .platform/hooks/predeploy/database.sh
  server/server.ts
Due: prettier --write, eslint --fix

Clean up deploy scripts
  .github/workflows/main.yml
  database/prod-import.sh
  package-lock.json
  package.json
Due: prettier --write

Provide easy mechanism to keep from replacing database
  .platform/hooks/predeploy/database.sh
Due: none

Don't do db actions if there's no db
  .platform/hooks/predeploy/database.sh
Due: none

Update for EC2
  .github/ISSUE_TEMPLATE/bug-fix.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/design-update.md
  .github/ISSUE_TEMPLATE/new-feature.md
  .github/ISSUE_TEMPLATE/polish.md
  .github/ISSUE_TEMPLATE/refactor.md
  .github/workflows/main.yml
  .platform/hooks/predeploy/database.sh
  README.md
  md.assets/client-package-json.png
  scripts/ec2env.sh
Due: prettier --write

Update to latest
  .github/workflows/main.yml
  README.md
  md.assets/pgweb-with-data.png
  package-lock.json
  package.json
  server/package-lock.json
  server/package.json
  server/server.ts
  server/tsconfig.json
Due: prettier --write, eslint --fix

Build in GH instead of EC2
  .github/workflows/main.yml
Due: none

Path conditions:
  markuplint: any of: *.html
  prettier --write: (((any of: *.html) or (any of: *.css)) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{json,md})
  stylelint --fix --allow-empty-input: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
